.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  width: 30rem;
  text-align: center;
  padding: 0 4rem;
  padding-top: 10rem;
  transform: scale(0);
  opacity: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  z-index: 1000;

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  .sidebar--close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2.4rem;
    color: var(--dark-color);
    cursor: pointer;

    &:hover {
      color: var(--red);
    }
  }
}
